@model MVCProject.Models.Order_itemsDTO

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <!--Modal Header-->
        <div class="modal-header">
            <h5 class="modal-title">Add Product</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <div class="form-row">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="control-label">Product Name</label>
                        <div>
                            @Html.DropDownList("ProductId", null,"Select Product", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="control-label">Product Code</label>
                        <div>
                            @Html.TextBoxFor(o => o.ProductCode, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-row">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="control-label">Quantity</label>
                        <div>
                            @Html.TextBoxFor(o => o.Quantity, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-row">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="control-label">Price</label>
                        <div>
                            @Html.TextBoxFor(o => o.Price, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-row">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="control-label">Amount</label>
                        <div>
                            @Html.TextBoxFor(o => o.Amount, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer form-row">
            <div class="col-md-12" style="margin-top:20px;">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btnaddOrder" id="btnaddOrder">Add</button>
            </div>
        </div>

    </div>
</div>

