@model IEnumerable<MVCProject.Models.OrderDTO>

<br>
<h2>@ViewBag.Tittle</h2>
<br>
<dev>
    <div class="col-sm-4">
        @Html.DropDownList("CustomerList", null, "Select Name", new { @class = "form-control" });
    </div>
    <div class="col-sm-2">
        <a class="btn btn-primary btn-sm" href="@Url.Action("AddOrder","Orders")">New Order</a>
    </div>
    @{  
        Html.RenderAction("_OrderDetails", "Orders");
    }
</dev>
<br>

@section scripts {
    <script>
        $("#CustomerList").change(function () {
            var id = this.value;
            $.ajax({
                url: '@Url.Action("_OrderDetails", "Orders")',
                data: { id: id },
                type: 'POST',
                success: function (result) {
                    $("#ordList").html(result);
                }
            });
        });
    </script>
}

@*<table class="table">
        <thead>
            <tr>
                <th>Order No</th>
                <th>Order Date</th>
                <th>Customer Name</th>
                <th>Total Amount</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderNo</td>
                    <td>@item.OrderDate</td>
                    <td>@item.Customer</td>
                    <td>@item.TotalAmount</td>
                    <td>@Html.ActionLink("Edit","EditOrder",new {@class ="btn btn-primary btn-sm"})<</td>
                </tr>
            }
        </thead>
        <tbody>
        </tbody>
    </table>*@